.main{
	background-color: #f5f5f5;
}
.navbar-home{
	background-color: white;
}
button{
	background-color: #E56717;
}

h3{
  color: black;
}
.in{
	color: white;
}
.uhat{
	color: #fff;
	background-color: #E56717;
}
.stat{
	margin-top: 20rem;
}
.sta{
	margin-top: 10rem;
}