.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
    background-color: rgb(59 12 12 / 91%);
  }

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(59 12 12);
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-right: 80pc;
}

.reg{
	border: 2px solid red;
}

.btn-default {
    color: #fff;
    background-color: #fff;
    border-color: #ccc;
    background-color: blue;
    margin-right: 89pc;
    margin-right: 38pc;
}

.footer{
    background-color: rgb(59, 12, 12);
    margin-top: 10rem;
    height: 4pc;
}

h5, .h5 {
    font-size: 14px;
    text-align: left;
}


.form-group{
	margin-bottom: 15px;
	width: 50%;
}

.row{
	color: #fff;
	text-align: center;
	

}

.hag{
    border: 2px solid red;
}

navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}


.fa-facebook{
    color: blue;
    margin-right: 40px;
}

.fa-instagram{
    color: blue;
    margin-right: 40px;
}

.fa-twitter{
    color: blue;
    margin-right: 40px;
}

.fa-linkedin{
    color: blue;
    margin-right: 50px;
}